*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

.logo {
    width: 70px;
    height: 70px;
}
.navlinks a {
    text-decoration: none;
}

.navlinks {
    display: flex;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}